.search{
    width: 100%;
    line-height: 70px;
    border-bottom: 2px solid rgb(0, 0, 0, 0.1);
    padding: 0px 40px;
    box-sizing: border-box;
}

.search input{
    width: 50%;
    font-size: 20px;
    padding: 20px;
    border: none;
    outline: none;
}

.search input::placeholder{
    color: rgb(0, 0, 0, 0.5);
}

.search i{
    font-size: 25px;
    color: rgb(0, 0, 0, 0.1);
}